!.gitignore
.DS_Store
node_modules
npm-debug.log
bin/*.pid
config/development.yml
config/testing.yml
config/production.yml
public/javascripts/*.min.js
public/javascripts/*.min.js.map
public/javascripts/libs/*.min.js
public/stylesheets/*.css