bin/*.pid
config/development.yml
config/production.yml
config/testing.yml
public/javascripts/bower/
public/javascripts/dist/*.min.js
public/javascripts/dist/*.min.js.map
public/stylesheets/dist/*.css
public/stylesheets/dist/*.css.map
node_modules/
!.gitignore
.DS_Store
npm-debug.log
