doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(data-main='javascripts/main', src="javascripts/libs/require-2.1.15.min.js")