doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    case process.env.NODE_ENV
      when 'testing'
      when 'production'
        script(data-main='javascripts/main.min', src="javascripts/libs/require-2.1.15.min.js")
      when 'development'
      default
        script(data-main='javascripts/main', src="javascripts/libs/require-2.1.15.js")
