
<section class="tetris-resume-section technology">
    <h3>Technology</h3>

    <ul>
        <% _.each(resume.get('technology'), function(tech) { %>
            <li>
                <span class="label label-<%= tech.label %>"><%= tech.text %></span>
            </li>
        <% }); %>
    </ul>
</section>

<section class="tetris-resume-section strengths">
    <h3>Strengths</h3>

    <ol>
        <% _.each(resume.get('strengths'), function(strn) { %>
            <li>
                <%= strn %>
            </li>
        <% }); %>
    </ol>
</section>

<section class="tetris-resume-section experience">
    <h3>Experience</h3>

    <ul>
        <% _.each(resume.get('experience'), function(expr) { %>
            <li>
                <h4>
                    <%= expr.title %>
                </h4>
                <h5>
                    <span class="label label-primary"><%= expr.period[0] %> - <%= expr.period[1] %></span>
                    <span class="label label-info"><%= expr.location %></span>
                </h5>
                <div class="well well-sm">
                    <strong><%= expr.company.name %></strong>,
                    <a href="<%= expr.company.website %>" rel="external"><%= expr.company.website %></a>
                    <br>
                    <%= expr.company.description %>
                </div>
                <div class="job-description">
                    <%= Marked(expr.description) %>
                </div>
            </li>
        <% }); %>
    </ul>
</section>

<section class="tetris-resume-section education">
    <h3>Education</h3>

    <ul>
        <% _.each(resume.get('education'), function(educ) { %>
            <li>
                <h4>
                    <%= educ.school %>
                </h4>
                <h5>
                    <span class="label label-primary"><%= educ.period[0] %> - <%= educ.period[1] %></span>
                    <span class="label label-info"><%= educ.degree %></span>
                </h5>
                <p>
                    <%= educ.description %>
                </p>
                <p>
                    Courses included:
                    <% _.each(educ.courses, function(cour) { %>
                        <span class="label label-default"><%= cour %></span>
                    <% }); %>
                </p>
            </li>
        <% }); %>
    </ul>
</section>

<section class="tetris-resume-section awards">
    <h3>Awards</h3>

    <ul>
        <% _.each(resume.get('awards'), function(awrd) { %>
            <li>
                <span class="label label-success"><%= awrd.year %></span>
                <%= awrd.award %>
            </li>
        <% }); %>
    </ul>
</section>
