
.tetris-nav .navbar-toggle .icon-bar {
    background-color: #3f7fc1;
}

h1, h2, h3, h4 {
    a .badge {
        vertical-align: top;
    }
}

.small-logo-container {
    padding-top: 50px;
    width: 0;
    height: 50px;
    overflow: hidden;
    transition: width .5s;
    -webkit-transition: width .5s;

    .small-logo {
        padding-bottom: 2px;
        display: block;
    }
}

.big-logo-row {
    .big-logo-container {
        padding-top: 50px;

        a {
            display: block;
            margin-left: auto;
            margin-right: auto;
            color: #333;
            text-align: center;
            text-decoration: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            span {
                margin-left: 5%;
            }
        }
    }
    h1 {
        font-size: 2em;
        margin: 0;
        padding: 15px 0;

        // smartphone
        @media (max-width:767px) { font-size: 2em; }
        // tablet
        @media (min-width:768px) { font-size: 3em; }
        // desktop
        @media (min-width:992px) { font-size: 4em; }
        // large desktop
        @media (min-width:1200px) { font-size: 5em; }
    }
}

.tetris-projects-list {
    >h4 {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    ul {
        list-style: none;
        padding-left: 0;
        text-align: center;

        li {
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 10px;
            width: 30%;
            min-width: 340px;
            min-height: 160px;
            vertical-align: top;
            display: inline-block;
            *display: inline;
            text-align: left;
            border: 1px solid #ccc;
            -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        }
    }
}

// smartphone
@media (max-width:767px) {}

// tablet
@media (min-width:768px) {}

// desktop
@media (min-width:992px) {}

// large desktop
@media (min-width:1200px) {}
