
.tetris-nav .navbar-toggle .icon-bar {
    background-color: #3f7fc1;
}

h1, h2, h3, h4 {
    a .badge {
        vertical-align: top;
    }
}

body {
    padding-top: 100px;
}

// smartphone
@media (max-width:767px) {}

// tablet
@media (min-width:768px) {}

// desktop
@media (min-width:992px) {}

// large desktop
@media (min-width:1200px) {}
