
<div class="tetris-about row">
    <div class="avatar-img col-xs-12 col-sm-3 col-md-2">
        <div class="avatar avatar-<%= avatarRandNum %>">&nbsp;</div>
    </div>
    <div class="about-txt col-xs-12 col-sm-9 col-md-10">
        <div class="pre-ish"><!--
            --><p>Hi, I'm Rollie Ma:</p><!--
            --><ul><!--
                --><li>a Linux lover and LEGO bricks enthusiast;</li><!--
                --><li>a polyglot developer obsessed with PHP, Golang, Python and JavaScript;</li><!--
                --><li>a receptive learner captivated by mobile development, NoSQL and data mining;</li><!--
                --><li>an amateur explorer interested in information aggregation and artificial intelligence fields.</li><!--
            --></ul><!--
        --></div>
    </div>
</div>
