
<div class="tetris-projects-list">
    <h4>
        Public projects Hosted on
        <a href="https://github.com/waltzofpearls" rel="external">
            Github
            <span class="badge"><%= projects.length %></span>
        </a>
    </h4>

    <ul>
        <% _.each(projects, function(project) { %>
            <li class="col-md-4">
                <div class="block">
                    <div class="content">
                        <h4>
                            <a href="<%= project.get('url') %>" rel="external"><%= project.get('name') %></a>
                        </h4>
                        <p>
                            <span class="label label-default">Stars: <%= project.get('stars') %></span>
                            <span class="label label-default">Forks: <%= project.get('forks') %></span>
                            <span class="label label-primary"><%= project.get('language') %></span>
                            <img src="<%= project.get('badge') %>">
                        </p>
                        <p title="<%= project.get('description') %>">
                            <%= project.get('description') %>
                        </p>
                    </div>
                </div>
            </li>
        <% }); %>
    </ul>
</div>
